.p {
  margin: 0;
}

.small {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.middle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.large {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
