name: Publish Docker

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ $default-branch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: docker.pkg.github.com/Armer7/top-app/top-app
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASWORD }}
          tags: "develop v1"
